body {
	background: #1B2473;
	min-width: none;
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: bold;
}

.form {
	position: relative;
	margin: 0 auto;
	background: #FFFFFF;
	box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
	z-index: 1;
	display: block;
	margin: 82px auto 0 auto;
	width: 600px;
	height: 412px;
}

.title {
	font-size: 50px;
	line-height: 50px;
	color: #787878;

	text-align: center;
	padding-top: 26px;
}

.form__email {
	margin: 17px 45px 0px;
	z-index: 1;
}

.form__password {
	margin: 13px 45px 0px;
	z-index: 1;
}

#email, #password {
	width: 100%;
	height: 49px;
	font-size: 28px;
	color: #787878;
	padding-left: 15px;
	border: 2px solid #787878;
	box-sizing: border-box;
	border-radius: 10px;
}

#email::placeholder, #password::placeholder {
	color: #ccc;
}

label {
	margin: auto 0 auto 18px;
	color: #787878;
}

.form__checkbox {
	margin: 16px 45px 0 45px;
	/* display: flex; */
}

#checkbox {
	position: absolute;
	width: 24px;
	height: 24px;
	opacity: 0;
	font-size: 10px;
}

.form__email_wrapper p {
	font-size: 18px;
	margin: 4px 4px auto auto;
	color: #787878;
}

.form__password_wrapper p {
	font-size: 18px;
	margin: 4px 4px auto auto;
	color: #787878;
}

.form__checkbox_wrapper p {
	font-size: 18px;
	margin: 4px 4px auto auto;
	color: #787878;
}

.form__custom_checkbox {
	width: 24px;
	height: 24px;
	border: 2px solid #787878;
	border-radius: 7px;
	margin-right: 2px;
}


.form__checkbox_input:checked + .form__custom_checkbox {
	background: #1B2473;
}

.form__checkbox_input:checked + .form__custom_checkbox::after {
	content: '✓';
	color: #FFFFFF;
	font-size: 18px;
	/* position: absolute;
	padding-left: 4px;
	padding-bottom: 6px; */
	margin-left: 5px;
	/* left: 5px;	 */
}


.form__button_wrapper {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto auto 26px auto;
	text-align: center;
}

.button {
	background: #1A226B;
	border-radius: 10px;
	color: #FFFFFF;
	line-height: 16px;
	width: 180px;
	height: 52px;
	font-size: 24px;
}

.required {
	/* display: absolute; */
	color: red;
	margin: auto auto auto 18px;
	font-size: 10px;
	display: none;
	line-height: 10px;
}

.flex__checkbox {
	display: flex;
}

#link {
	color: #787878;
}

#link a:visited {
	color: #787878;
}

.form__email_invalid {
	color: red;
	font-size: 10px;
	display: none;
}

.form__password_length {
	color: red;
	font-size: 10px;
	display: none;
}

.error-message {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	color: white;
	font-size: 50px;
	z-index: -99;
}

/* @media screen and (min-width: 1441px) {
	.login-form {
		transition: 1s opacity;
		opacity: 0;
	}

	.error-message {
		transition: 2s opacity;
		opacity: 1;
	}
} */

@media screen and (max-width: 1440px) and (min-width: 769px) {
	.form {
		display: block;
		margin: 82px auto 0 auto;
		width: 600px;
		height: 412px;
	}

	.form__button_wrapper {
		margin: auto auto 26px;
		text-align: center;
	}
	
	.button {
		width: 180px;
		height: 52px;
		font-size: 24px;
	}
}

@media screen and (max-width: 768px) and (min-width: 321px) {
	.form {
		position: fixed;
		margin: 20px;
		top: 0;
		left: 0;
		width: calc(100% - 40px);
		height: calc(100% - 40px);
	}

	.form__button_wrapper {
		margin: auto auto 26px;
		text-align: center;
	}

	.button {
		width: 220px;
		height: 80px;
		font-size: 32px;
	}
}

@media screen and (max-width: 320px) {
	.form {
		transition: 1s opacity;
		opacity: 0;
	}

	.error-message {
		font-size: 10px;
		transition: 2s opacity;
		opacity: 1;
	}
}